body {
    background: -webkit-linear-gradient(left, #8f8a9a, #dad2d7, #8f8a9a);
    background: -moz-linear-gradient(left, #8f8a9a, #dad2d7, #8f8a9a);
}
html, body {
    margin: 0;
    font-family: "Arial";
}
body > div {
    margin: 0 auto;
    width: 90%;
}
div.box {
    border: 4px solid #ddd;
    background-color: #eee;
    margin: 0.75em;
    padding: 5px;
    font-size: small;
    border-radius: 15px;
    -moz-border-radius: 15px;
    box-shadow: 1px 1px 3px #666;
    -moz-box-shadow: 1px 1px 3px #666;
}
div.logo p {
    width: 60em;
    display:inline-block;
    vertical-align:middle;
}
div.logo img {
    vertical-align:middle;
    padding: 2px 10px 2px 2px;
}
body > div {
    display: block-inline;
}
body > div > div > div {
    position: relative;
    width: 100%;
}
table.git {
    font-size: small;
    width: 65%;
    padding-right: 5px;
}
table.full {
    width: 100%;
}
table.git th, table.git tfoot tr td {
    padding: 0.3em;
    background-color: #ddcece;
    border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
}
table#changes thead tr th, table#blame thead tr th, table.git tfoot tr td {
    border: 1px solid #eee;
    text-align: center;
}
table.git tfoot tr td {
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    text-align: center;
}
table.git td, table.git th, table#timeline td, table#timeline th {
    padding: 0.35em;
    height: 2em;
}
table.git td div.insert {
    background-color: #7a7;
}
table.git td div.remove {
    background-color: #c66;
}
table.git td div.insert, table.git td div.remove {
    height: 100%;
    float: left;
}
table.git tr.odd {
    background-color: #dbdbdb;
}
table.git tr.piehover {
    background-color: #dddece;
}
div.git2 {
    position: absolute;
    transform: rotate(90deg) translate(-10px,10px);
    transform-origin: left top;
    white-space: nowrap;
    background-color: #f0d6d6;
    border: 4px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold
}
table.git2 {
    font-size: small;
    width: 100%;
}
table.git2 thead th {
    padding: 0.5em;
    background-color: #ddcece;
    border-radius: 8px 8px 0px 0px;
    border: 1px solid #eeeeee;
}
table.git2 tfoot th {
    padding: 0.5em;
    background-color: #ddcece;
    border-radius: 0px 0px 8px 8px;
    border: 1px solid #eeeeee;
}
table.git2 th:hover {
    background-color: #f0d6d6;
    border: 1px solid #aaaaaa;
}
table.git2 tr.odd {
    background: #cacaca;
}
table.git2 tr.even {
    background: #e3e3e3;
}
table.git2 tbody tr.hovered {
    background-color: #eedd99;
}
table.git2 tbody td {
    padding: 0.35em;
    height: 2em;
    text-align: center;
}
table.git2 tfoot tr td {
    border-radius: 0px 0px 8px 8px;
    -moz-border-radius: 0px 0px 8px 8px;
    background-color: #ddcece;
    text-align: center;
}
div.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 12px sans-serif;
    background: white;
    border: 1px solid black;
    border-radius: 3px;
    pointer-events: none;
}
td.severe {
    color: #a00;
    background-color: #faa;
}
td.medium {
    color: #b50;
    background-color: #fb9;
}
td.minor {
    color: #660;
    background-color: #dc7;
}
td.minimal {
    color: #660;
    background-color: #eea;
}
ul.map_box {
    list-style: none;
    text-decoration: none;
}
ul.map_box span {
    line-height: 20px;
}
ul.map_box button {
    font-weight: bold;
    background-color: #aaaaaa;
    color: #fff;
    border: none;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 5px;
}
span.marked {
    font-weight: bold;
    color: #3300ff
}
div.chart {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 0px;
    width: 35%;
    min-height: 100px;
    max-height: 210px;
    font-size: x-small;
}
p.error {
    color: #700;
}
table#changes thead tr th:hover, table#blame thead tr th:hover,
table#changes tfoot tr td.hoverable:hover, table#blame tfoot tr td.hoverable:hover,
div.button:hover, div#responsibilities div.button:hover {
    background-color: #eddede;
    border: 1px solid #bbb;
    cursor: hand;
}
div#responsibilities div, div#responsibilities div div, div#metrics div, div#metrics div div {
    min-height: 0px;
    padding: 0.5em 0.2em;
    width: auto;
}
div#metrics div {
    background-color: #eee;
}
div#responsibilities div.odd, div#metrics div.odd {
    background-color: #dbdbdb;
}
div#responsibilities p {
    margin-bottom: 0px;
}
td img, h3 img {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    vertical-align: middle;
    margin-right: 0.4em;
    opacity: 0.85;
}
td img {
    width: 20px;
    height: 20px;
}
h3 img {
    width: 32px;
    height: 32px;
}
h3, h4 {
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    background-color: #ddcece;
    margin-bottom: 0.2em;
    margin-top: 0.6em;
}
h4 {
    margin-top: 0.2em;
    padding: 0.5em;
}
div.button, div#responsibilities div.button {
    border-radius: 8px 8px 8px 8px;
    -moz-border-radius: 8px 8px 8px 8px;
    border: 1px solid #eee;
    float: right;
    width: auto;
    padding: 0.5em;
    background-color: #ddcece;
    min-height: 0;
}
div#summary_div ul a {
    text-decoration: none;
}
div.box_title {
    background-color: #cccccc;
    font-weight: bold;
    padding: 5px;
}
