<div id="activity_div">
  <div class="box">

    <div style="position: absolute" class="box_title">
      Activity Timeline
    </div>

    <div id="timeline_box"
         style="display: flex; align-items: center; flex-direction: column">
      <div id="timeline_enclose" style="position:relative">
        <svg id="timeline_svg" width="1040" height="600">
        </svg>
      </div>
    </div>

    <script>
     (function () {
      var timeline = $timeline;
      var svg = d3.select("svg#timeline_svg"),
          xsep = 200, ysep = 80, ybsep = 50,
          width = parseInt(svg.attr("width")),
          height = parseInt(svg.attr("height"));
      if (width > 50*(timeline.max_period+2)+xsep) {
          width = 50*(timeline.max_period+2)+xsep;
          svg.attr("width", width);
      }
      var dx = (width-xsep)/(timeline.max_period+2),
          dy = (height-ysep)/(Object.keys(timeline.authors).length+1);
      var x = d3.scaleOrdinal()
                .domain(Object.keys(timeline.periods))
                .range(Object.values(timeline.periods)
                       .map(d => xsep + dx + (width-xsep-2*dx)*d/(Math.max(timeline.max_period, 1))));
      var y = d3.scaleBand()
                .domain(Object.keys(timeline.authors))
                .range([ysep+dy/2, height]);

      var tooltip = d3.select("div#timeline_enclose").append("div")
          .attr("class", "tooltip")
          .style("opacity", 0);

      var xAxis = d3.axisTop(x).tickValues(Object.keys(timeline.periods));
      var gaxis = svg.append("g").attr("transform", "translate(0," + (ysep-8) + ")");
      gaxis.call(xAxis).selectAll("text")
           .attr("y", 0).attr("x", 9)
           .attr("dy", ".35em")
           .attr("transform", "rotate(-90)")
           .style("text-anchor", "start");
      gaxis.selectAll(".tick line").attr("stroke", "#ccc").attr("y1", height-ybsep-60);
      gaxis.selectAll(".tick")
           .on('mouseover', function(d, i) {
               tooltip.html(d + "<br/>" + timeline.period_ranges[d])
                   .style("opacity", .8)
                   .style("top", 0)
                   .style("left", xsep + dx*i); })
           .on('mouseout', function() { tooltip.style("opacity", 0); });

      var cAxis = d3.axisBottom(x).tickFormat(d => timeline.changes[d]);
      var uaxis = svg.append("g").attr("transform", "translate(0," + (height-ybsep+10) + ")");
      uaxis.call(cAxis).selectAll("text")
           .attr("y", 0).attr("x", 9)
           .attr("dy", ".35em")
           .attr("transform", "rotate(90)")
           .style("text-anchor", "start");

      var gentries = svg.append("g");

      function generate_entries(sort_fun) {
          Object.keys(timeline.entries).forEach(function(p) {
              var commits = timeline.entries[p];
              var a = x(p);
              var b = height-ybsep;
              commits.sort(sort_fun).forEach(function(c) {
                  var work = c["work"] * (height-ybsep-ysep) / timeline.max_work;
                  var acol = timeline.authors[c["author"]]["color"];
                  b -= work;
                  gentries.append("rect").attr("x", a-dx/2).attr("y", b)
                          .attr("height", work).attr("width", dx)
                          .attr("fill", acol)
                          .on("mouseover", function(d, i){
                              var coords = d3.mouse(this);
                              svg.selectAll("rect[fill='" + acol + "']")
                                  .attr("fill", d3.color(acol).brighter());
                              tooltip.html("<b>Author&nbsp;:</b>&nbsp;" + c["author"] +
                                           "<br/><b>Commits&nbsp;:</b>&nbsp;" + c["commit"][2] +
                                           "<br/><b>Work&nbsp;:</b>&nbsp;" + c["work"])
                                  .style("opacity", .8)
                                  .style("top", parseInt(d3.select(this).attr("y")) - dx/2)
                                  .style("left", parseInt(d3.select(this).attr("x")) + dx/2);
                          }).on("mouseout", function(d, i){
                              svg.selectAll("rect[fill='" +
                                            d3.color(acol).brighter() +
                                            "']")
                                  .attr("fill", acol)
                              tooltip.style("opacity", 0);
                          });
              });
          });
      }

      var gauths = svg.append("g").attr("transform", "translate(0,10)");

      var aheight = Math.min(dy, 50);
      Object.keys(timeline.authors).forEach(function (a) {
          var acol = timeline.authors[a]["color"];
          gauths.append("text").attr("x", 30).attr("y", y(a)+7)
              .style("font-size", "x-small")
              .text(timeline.authors[a]["name"])
              .attr("title", timeline.authors[a]["email"])
              .on("mouseover", function(d, i){
                  svg.selectAll("rect[fill='" + acol + "']")
                      .attr("fill", d3.color(acol).brighter())
              }).on("mouseout", function(d, i){
                  svg.selectAll("rect[fill='" +
                                d3.color(acol).brighter() + "']")
                      .attr("fill", acol)
              }).on("click", function () {
                  generate_entries((u,v) => (u["author"] == a) ? -1 : 1);
              });
          gauths.append("rect").attr("y", y(a)-10).attr("height", 20)
              .attr("x", 0).attr("width", 20)
              .attr("fill", acol);
      });

      generate_entries((a,b) => 1);

      // Register the div in the summary
      register_box("Activity timeline", "activity_div");
     })();
    </script>

  </div>
</div>
