<div>
  <div class="box">

    <div style="width: 20px; position: absolute">
      <div id="remains_label" class="git2 visible">
        Remains Output
      </div>
    </div>

    <div id="remains_box"
         style="display: flex; align-items: center">

      <div style="width:75%">
        <table id="remains_table" style="width: 100%" class="git2">
          <thead>
            <tr>
              <th/>
              <th>Author</th>
              <th>Rows</th>
              <th>Stability</th>
              <th>Age</th>
              <th>% of comments</th>
              <th/>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <th class="hoverable" colspan="7">
              </th>
            </tr>
          </tfoot>
        </table>
      </div>

      <div>
        <svg id="remains_svg" width="290" height="220">
        </svg>
      </div>

    </div>

    <script>
      (function () {
          var remains_data = $remains_data;
          var sum_rows = 0;
          remains_data.forEach(function (d) { sum_rows += d.rows; });
          // Control which data appear inside the pie
          var remains_filter = d => d.rows > 0.01 * sum_rows;
          var remains_data_pie = remains_data.filter(remains_filter);
          var eff_rows = 0;
          remains_data_pie.forEach(function (d) { eff_rows += d.rows; });
          // Append the remaining changes as the last element of the pie
          remains_data_pie.push({rows: sum_rows-eff_rows, color: "#cccccc" });

          var titles = Object.keys(remains_data[0]).filter(t => t != "color");

          var svg = d3.select("svg#remains_svg"),
              width = svg.attr("width"),
              height = svg.attr("height"),
              radius = Math.min(width, height) / 2,
              group = svg.append("g").attr("transform",
                                       "translate(" + width / 2 + "," + height / 2 + ")");

          // Generate the pie
          var arcs = generate_pie(group, radius, remains_data_pie,
                                  d => d.rows, d => d.data.color);
          // Generate the table
          var lines = generate_sortable_table("remains_table", titles, remains_data, remains_filter);

          // Link pie chart sections with lines
          link_table_and_pie(lines, arcs);

          // Make the div hideable
          make_box_hideable("remains_label", "remains_box");
      })();
    </script>

  </div>
</div>
