<div>
  <div class="box">

    <div style="width: 20px; position: absolute">
      <div id="changes_label" class="git2 visible">
        Changes
      </div>
    </div>

    <div id="changes_box"
         style="display: flex; align-items: center">

      <div style="width:75%">
        <table id="changes_table" class="git2">
          <thead>
            <tr>
              <th/>
              <th>Author</th>
              <th>Commits</th>
              <th>Insertions</th>
              <th>Deletions</th>
              <th>% of changes</th>
              <th/>
            </tr>
          </thead>
          <tbody></tbody>
          <tfoot>
            <tr>
              <th class="hoverable" colspan="7">
              </th>
            </tr>
          </tfoot>
        </table>
      </div>

      <div>
        <svg id="changes_svg" width="290" height="220">
        </svg>
      </div>
    </div>

    <script>
      (function () {
          var changes_data = $changes_data;
          // Control which data appear inside the pie
          var changes_filter = d => d.changes > 0.5;
          var changes_data_pie = changes_data.filter(changes_filter);
          var sum_changes = 0;
          changes_data_pie.forEach(function (d) { sum_changes += d.changes; });
          // Append the remaining changes as the last element of the pie
          changes_data_pie.push({changes: 100-sum_changes, color: "#cccccc"});

          var titles = Object.keys(changes_data[0]).filter(t => t != "color");

          var svg = d3.select("svg#changes_svg"),
              width = svg.attr("width"),
              height = svg.attr("height"),
              radius = Math.min(width, height) / 2,
              group = svg.append("g").attr("transform",
                                       "translate(" + width / 2 + "," + height / 2 + ")");

          // Generate the pie
          var arcs = generate_pie(group, radius, changes_data_pie,
                                  d => d.changes, d => d.data.color);
          // Generate the table
          var lines = generate_sortable_table("changes_table", titles, changes_data, changes_filter);

          // Link pie chart sections with lines
          link_table_and_pie(lines, arcs);

          // Make the div hideable
          make_box_hideable("changes_label", "changes_box", "flex");
      })();
    </script>

  </div>
</div>
