<?xml version="1.0" encoding="utf-8"?>
<html xmlns="http://www.w3.org/1999/xhtml">
        <head>
                <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
                <title>{title}</title>
                {jquery_js}
                {d3_js}
		{custom_js}
		{style_css}
        </head>
        <body>
          <div id="introduction_div">
            <div class="box logo">
              <a href="https://github.com/ejwa/gitinspector"><img src="data:image/png;base64,{logo}" /></a>
              <p>{repo_text}<br>{logo_text}</p>
              </div>
            </div>
